:root {
	--iw-contact-info-icons-size: 20px;
}
.iw-contact-info {
	padding-left: 0 !important;
}
.iw-contact-info li {
	list-style: none;
}
.iw-contact-info > li.email > ul > li > a > img,
.iw-contact-info > li.phone > ul > li > a > img,
.iw-contact-info > li.address > ul > li > a > img {
	display: inline-block;
	width: var(--iw-contact-info-icons-size);
	height: var(--iw-contact-info-icons-size);
	margin-right: 10px;
	object-fit: contain;
	object-position: center;
}